set timeout=1
set default=0 # Set the default menu entry

insmod vbe

GRUB_GFXMODE=1024x768x32,1024x768x24,3840x2160x32,1600x1200x32
#GRUB_GFXPAYLOAD_LINUX=text

menuentry "Multiboot2 Mickes Pizza OS" {
  multiboot2 /boot/kernel.elf   # The multiboot command replaces the kernel command
  # boot
}

menuentry "Multiboot1 (legacy) Mickes Pizza OS" {
  multiboot /boot/kernel.elf   # The multiboot command replaces the kernel command
  set gfppayload=text
  #set gfppayload=1024x768x24
  # boot
}


#menuentry "Multiboot2 Mickes Pizza OS" {
#  multiboot2 /boot/kernel.elf   # The multiboot command replaces the kernel command
#  # boot
#}



menuentry "BOOTP Mickes Pizza OS" {
    net_bootp
    echo 'Network status: '
    net_ls_cards
    net_ls_addr
    #net_ls_routes
    echo 'Loading MIckes OS ...'
    linux (tftp,192.168.144.2)/kernel.elf
     #echo 'Loading initial ramdisk ...'
    # initrd (tftp)/initrd
#   multiboot /boot/kernel-file   # The multiboot command replaces the kernel command
  # boot
}
